<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ("../partials/head/meta")  %>
  <%- include ("../partials/head/css")  %>

  <title>Municipalidad de <%= muni%></title>
</head>

<body>
  <!--header-->
  <%- include ('../partials/layouts/header/header.ejs') %>

  <!--main-->
  <main>
    <%- body %>
  </main>

  <!--footer-->
  <%- include ('../partials/layouts/footer/footer.ejs') %>

</body>

</html>